<!DOCTYPE html>
<html layout:decorate="~{fragments/base}" xmlns:th="http://www.thymeleaf.org"> 
<head>
	
	<title>Preferencias</title>
	
</head>
<body th:object="${session}">
	<div layout:fragment="pagination" >
	<ul class="breadcrumb">
	  <li class="breadcrumb-item"><a href="/custom_index" th:href="@{/custom_index}">Página principal</a></li>
	  <li th:if="*{user.type == 1}"class="breadcrumb-item active">Preferencias</li>
	  <li th:unless="*{user.type == 1}" class="breadcrumb-item"><a href="/estudiante/list" th:href="@{/estudiante/list}">Estudiantes</a></li>
	  <li th:unless="*{user.type == 1}" class="breadcrumb-item active"><span style="text-transform:capitalize" th:text="${dni}"></span></li>
	</ul>
	</div>
	
	<div layout:fragment="content">
		<br>
		<h1 th:if="*{user.type == 1}">Listado de tus preferencias</h1>
		<h1 th:unless="*{user.type == 1}">Listado de preferencias de <span style="text-transform:capitalize" th:text="${dni}"></span></h1>
		<div style="text-align:center" th:if="${#lists.isEmpty(preferenciaalumno)}">
	   		<h2>No hay preferencias seleccionadas</h2>
	    </div>
	    <hr>
	
		<div th:if="*{result == 'ok'}" class="alert alert-success alert-dismissible fade show">
	    	<button type="button" class="close" data-dismiss="alert">&times;</button>
	  		<strong>Éxito!</strong> La acción se ha completado correctamente.
	    </div>
	    
		<div  th:unless="${#lists.isEmpty(preferenciaalumno)}" class="row">
	    <div class="col-sm-7">
	     <div class="card">
		    <div class="card-header">
		      <a class="card-link" data-toggle="collapse" href="#collapseOne">
		        Haz click para una pequeña descripción de uso
		      </a>
		    </div>
		    <div id="collapseOne" class="collapse" data-parent="#accordion"  th:object="${session}">
		      <div class="card-body">
		        <ul>
		        	<li>Usa la caja de texto para filtrar sobre los resultados</li>
		        	<li>Puedes pulsar sobre algunas cabeceras para ordenar alfabeticamente</li>
		        	<li th:if="*{user.type == 2}">Pulsa el botón <i>Crear asignación</i> para asignar una oferta al alumno</li>
		        </ul>
		      </div>
		    </div>
	  	</div>
	   </div>
	   <div class="col-sm-5">	
	    	<input class="form-control" id="myInput" type="text" placeholder="Introduce tu búsqueda">
	   </div>
	   </div>
	   <hr>
	   
	   <div class="table-responsive">
	   <form action="#" onsubmit="return validate()" th:action="@{/preferenciaalumno/update/{orden}}" th:object="${preferenciaalumno}" method="post">
		<table th:unless="${#lists.isEmpty(preferenciaalumno)}" class="table table-striped table-bordered sortable">
		<thead class="thead-dark">
			<tr>
				<th data-defaultsort="asc">Orden</th>
				<th>Titulo de Proyecto</th>
				<th>Estado</th>
				<th>Fecha de cambio</th>
				<th>Seleccionar</th>
				<th style="text-align:center" th:if="${session.user.type == 2}"  data-defaultsort="disabled"><a th:href="@{/asignacion/add/{dni}(dni=${dni})}" class="btn btn-primary">Crear asignación</a></th>
			</tr>
		</thead>
		<tbody id="myTable">
			<tr th:each="preferencia: ${preferenciaalumno}">
				<td th:text="${preferencia.orden}"></td>
				<td>
					<input type="number" id="orden" min="1" max="99" th:field="${preferencia.orden}" th:text="${preferencia.orden}" value="${preferencia.orden}">
				</td>
				<td th:text="${preferencia.tituloProyecto}"></td>
				<td th:text="${preferencia.estado}"></td>
				<td th:text="${preferencia.fechaUltimoCambio}"></td>
				<td>
			</tr>
			<tr th:if="${session.user.type == 1}"><td><button type="submit" class="btn btn-primary">Actualizar</button></td></tr>
			<tr><td><input type="submit" value="Actualizar"/></td></tr>
		</tbody>
		</table>
		</form>
		</div>
	</div>
	<script>
	function validate() {
		var x = document.querySelectorAll("[id='orden']"););
		for(i=0; i<x.length; i++){
			for(j=i; j<x.length; j++){
				if(x[i]==x[j]){
					alert("Varias preferencias tienen el mismo orden de prioridad");
					return false;
				}
			}
		}
		return false;
	}
	</script>
</body>
</html>