<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Actualizar preferencia</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
</head>
<body>
	<h2>Nueva peticion de revision</h2>
	<form action="#" th:action="@{/preferenciaalumno/update/{orden}}" th:object="${preferenciaalumno}" method="post">
		<table>
			<tr>
				<td><label>Orden</label></td>
				<td><input type="number" th:field="*{orden}"/></td>
			</tr>
			<tr>
				<td><label>Fecha ultimo cambio</label></td>
				<td><input type="text" th:field="*{fechaUltimoCambio}"/></td>
			</tr>
			<tr>
				<td><label>Estado</label></td>
				<td><input type="text" th:field="*{estado}"/></td>
			</tr>
			<tr>
				<td><label>Dni</label></td>
				<td><input type="text" th:field="*{dni}"/></td>
			</tr>
			<tr>
				<td><label>Numero de proyecto</label></td>
				<td><input type="number" th:field="*{numeroProyecto}"/></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Actualizar preferencia"/></td>
			</tr>
		</table>
	</form>
</body>
</html>