<!DOCTYPE html>
<html layout:decorate="~{fragments/base}" xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Ofertas</title>
</head>
<body>
<div layout:fragment="pagination">
	<ul class="breadcrumb">
	  <li class="breadcrumb-item"><a href="/custom_index" th:href="@{/custom_index}">Página principal</a></li>
	  <li th:if="*{cifEmpresa == null}" class="breadcrumb-item active">Ofertas</li>
	  <li th:unless="*{cifEmpresa == null}" class="breadcrumb-item"><a href="/ofertaproyecto/list" th:href="@{/ofertaproyecto/list}">Ofertas</a></li>
	  <li th:unless="*{cifEmpresa == null}" class="breadcrumb-item active"><span th:text="*{cifEmpresa}"></li>
	</ul>
</div>
<div layout:fragment="content" th:object="${session}">
	
	<br>
	<h1 th:if="*{cif == null}">Listado de ofertas de proyectos</h1>
	<h1 th:unless="*{cif == null}">Listado de ofertas de empresa <span th:text="*{cif}"></span></h1>
	<div style="text-align:center" th:if="${#lists.isEmpty(ofertaproyectos)}">
   		<h2>No hay ofertas en la base de datos</h2>
    </div>
    <hr>
    <div th:if="*{result == 'ok' and cif == null}" class="alert alert-success alert-dismissible fade show">
    	<button type="button" class="close" data-dismiss="alert">&times;</button>
  		<strong>Éxito!</strong> Los datos han sido modificados correctamente.
    </div>
    
    <div  th:unless="${#lists.isEmpty(ofertaproyectos)}" class="row">
    <div class="col-sm-7">
     <div class="card">
	    <div class="card-header">
	      <a class="card-link" data-toggle="collapse" href="#collapseOne">
	        Haz click para una pequeña descripción de uso
	      </a>
	    </div>
	    <div id="collapseOne" class="collapse" data-parent="#accordion">
	      <div class="card-body">
	        <ul>
	        	<li>Usa la caja de texto para filtrar sobre los resultados</li>
	        	<li>Puedes pulsar sobre algunas cabeceras para ordenar alfabeticamente</li>
	        	<li th:if="*{cif == null}">Pulsa el botón <i>Gestionar</i> para acceder a la gestión oferta</li>
	        	<li th:unless="*{cif == null}">Selecciona solo 5 ofertas.</li>
	        	<li th:if="*{user.type == 2}">Pulsa el botón <i>Visibilizar</i> para hacer visibles las ofertas aceptadas</li>
	        </ul>
	      </div>
	    </div>
  	</div>
   </div>
    <div class="col-sm-5">	
    	<input class="form-control" id="myInput" type="text" placeholder="Introduce tu búsqueda">
   </div>
   </div>
    <hr>
    <div th:if="*{cif == null}" class="table-responsive">
	<table th:unless="${#lists.isEmpty(ofertaproyectos)}" class="table table-striped table-bordered sortable">
		<thead class="thead-dark">
			<tr>
				<th data-defaultsort="disabled">Tarea</th>
				<th>Estado</th>
				<th>Fecha alta</th>
				<th>Fecha ultimo cambio</th>
				<th>Itinerario</th>
				<th th:if="*{user.type == 2}"  data-defaultsort="disabled"><a th:href="@{/}" class="btn btn-warning">Visibilizar</a></th>
			</tr>
		</thead>
		<tbody id="myTable">
			<tr th:each="ofertaproyecto: ${ofertaproyectos}">
				<td th:text="${ofertaproyecto.tarea}"></td>
				<td th:text="${ofertaproyecto.estado}"></td>
				<td th:text="${ofertaproyecto.fechaAlta}"></td>
				<td th:text="${ofertaproyecto.fechaUltimoCambio}"></td>
				<td th:text="${ofertaproyecto.itinerario}"></td>
				<td><a th:href="@{/ofertaproyecto/update/{numero}(numero=${ofertaproyecto.numero})}" class="btn btn-dark">Gestionar</a></td>
			</tr>
		</tbody>
	</table>
	</div>
	<div th:unless="*{cif == null}" class="table-responsive">
	<table th:unless="${#lists.isEmpty(ofertaproyectos)}" class="table table-striped table-bordered sortable">
		<thead class="thead-dark">
			<tr>
				<th data-defaultsort="disabled">Seleccionar Tarea</th>
				<th>Estado</th>
				<th>Fecha alta</th>
				<th>Fecha ultimo cambio</th>
				<th>Itinerario</th>
				<th>Orden</th>
			</tr>
		</thead>
		<tbody id="myTable">
			<form th:each="ofertaproyecto: ${ofertaproyectos}">
			<tr>
				<td th:text="${ofertaproyecto.tarea}"></td>
				<td th:text="${ofertaproyecto.estado}"></td>
				<td th:text="${ofertaproyecto.fechaAlta}"></td>
				<td th:text="${ofertaproyecto.fechaUltimoCambio}"></td>
				<td th:text="${ofertaproyecto.itinerario}"></td>
				<input type="hidden" value="test">
				<td><a th:href="@{/preferenciaalumno/update/{numero}(numero=${ofertaproyecto.numero})}" class="btn btn-dark">Seleccionar</a></td>
			</tr>
			</form>
			
		</tbody>
	</table>
	</div>
</div>
</body>
</html>