<!DOCTYPE html>
<html layout:decorate="~{fragments/base}" xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Ofertas</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"      
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
   <link rel="stylesheet" type="text/css" href="/css/sape.css"
                                    th:href="@{/css/sape.css}"/>
</head>
<body>
<div layout:fragment="content">
	
	<br>
	<h1 th:if="*{cif == null}">Listado de ofertas de proyectos</h1>
	<h1 th:unless="*{cif == null}">Listado de ofertas de empresa <span th:text="*{cif}"></span></h1>
	<div style="text-align:center" th:if="${#lists.isEmpty(ofertaproyectos)}">
   		<h2>No hay ofertas en la base de datos</h2>
    </div>
    <hr>
	<table th:unless="${#lists.isEmpty(ofertaproyectos)}" class="table table-striped">
		<thread>
			<tr>
				<th>Numero</th>
				<th>Tarea</th>
				<th>Objetivo</th>
				<th>Estado</th>
				<th>Fecha alta</th>
				<th>Fecha ultimo cambio</th>
				<th>Itinerario</th>
				<th>Estancia ID</th>
			</tr>
		</thread>
		<tbody>
			<tr th:each="ofertaproyecto: ${ofertaproyectos}">
				<td th:text="${ofertaproyecto.numero}"></td>
				<td th:text="${ofertaproyecto.tarea}"></td>
				<td th:text="${ofertaproyecto.objetivo}"></td>
				<td th:text="${ofertaproyecto.estado}"></td>
				<td th:text="${ofertaproyecto.fechaAlta}"></td>
				<td th:text="${ofertaproyecto.fechaUltimoCambio}"></td>
				<td th:text="${ofertaproyecto.itinerario}"></td>
				<td th:text="${ofertaproyecto.idEstancia}"></td>
				<td><a th:href="@{/ofertaproyecto/update/{numero}(numero=${ofertaproyecto.numero})}" class="btn btn-primary">Actualizar estado</a></td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>