<!DOCTYPE html>
<html layout:decorate="~{fragments/base}" xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Actualizar datos de oferta de proyecto</title>

</head>
<body>
	<div layout:fragment="pagination" th:object="${ofertaproyecto}">
	<ul class="breadcrumb">
	  <li class="breadcrumb-item"><a href="/custom_index" th:href="@{/custom_index}">Página principal</a></li>
	  <li class="breadcrumb-item"><a href="/ofertaproyecto/list" th:href="@{/ofertaproyecto/list}">Ofertas</a></li>
	  <li class="breadcrumb-item active" th:unless="*{numero == null}"><span th:text="*{numero}"></span>
	</ul> 	
	</div>
	<div layout:fragment="content" th:object="${session}">
	
	<div class="card" style="width:500px;margin:0 auto">
	<div class="card-body">
		<h2 class="card-title"  style="text-align:center">Datos de la oferta</h2>
		<div  th:if="*{result == 'bad'}" class="alert alert-danger alert-dismissible fade show">
    		<button type="button" class="close" data-dismiss="alert">&times;</button>
  			<strong>Ups!</strong> Algo ha ido mal.
   		</div>
   		<div  th:if="*{result == 'ok'}" class="alert alert-success alert-dismissible fade show">
    		<button type="button" class="close" data-dismiss="alert">&times;</button>
  			<strong>Éxito!</strong> Se ha registrado la petición.
   		</div>
		<form class="card-body" action="/ofertaproyecto/update/{numero}" th:action="@{/ofertaproyecto/update/{numero}(numero=${ofertaproyecto.numero})}"  th:object="${ofertaproyecto}" method="post">
			<div class="form-group">
				<label>Número:</label>
				<input class="form-control" type="text" th:field="*{numero}" readonly="readonly"/>
			</div>
			<div class="form-group">
				<label>Titulo:</label>
				<input class="form-control" type="text" th:field="*{titulo}"/>
			</div>
			<div class="form-group">
				<label>Tarea:</label>
				<input class="form-control" type="text" th:field="*{tarea}"/>
			</div>
			<div class="form-group">
				<label>Objetivo:</label>
				<textarea class="form-control" rows="7" type="text" th:field="*{objetivo}"></textarea>
			</div>
			<div class="form-group">
				<label>Estado:</label>
				<select class="form-control" th:field="*{estado}">
					<option value="Sin Definir">Sin definir</option>
					<option value="Introducida">Introducida</option>
					<option value="Pendiente revision">Pendiente de revisión</option>
					<option value="Aceptada">Aceptada</option>
					<option value="Rechazada">Rechazada</option>
				</select>
			</div>
			<div class="form-group">
				<label>Fecha de alta:</label>
				<input class="form-control" type="text" th:field="*{fechaAlta}" readonly="readonly"/>
			</div>
			<div class="form-group">
				<label>Fecha de último cambio:</label>
				<input class="form-control" type="text" th:field="*{fechaUltimoCambio}" readonly="readonly"/>
			</div>
			<div class="form-group">
				<label>Itinerario:</label>
				<select class="form-control" type="text" th:field="*{itinerario}">
					<option value="Ingeniería del Software">Ingeniería del Software</option>
					<option value="Sistemas de Información">Sistemas de Información</option>
					<option value="Tecnologías de la Información">Tecnologías de la información</option>
					<option value="Ingeniería de computadores">Ingeniería de Computadores</option>
				</select>
			</div>
			<div class="form-group">
				<label>Empresa</label>
				<input class="form-control" type="text" th:field="*{empresa}" readonly="readonly"/>
			</div>
			<div class="form-group">
				<label>Ciudad</label>
				<input class="form-control" type="text" th:field="*{ciudad}" readonly="readonly"/>
			</div>
			<hr>
			<div style="text-align:center;color:white">
			 <button type="submit" class="btn btn-primary">Actualizar</button>
			 <a th:if="${session.user.type == 2}" href="/peticionrevision/add/{numeroProyecto}" th:href="@{/peticionrevision/add/{numeroProyecto}(numeroProyecto=${ofertaproyecto.numero})}" class="btn btn-danger">Petición revisión</a>
			</div>
			
	</form>
	</div>
	</div>
	<br>
	</div>
	
	
</body>
</html>