<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Actualizar datos de oferta de proyecto</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
</head>
<body>
	<h2>Nueva oferta de proyecto</h2>
	<form action="#" th:action="@{/ofertaproyecto/update/{numero}}" th:object="${ofertaproyecto}" method="post">
		<table>
			<tr>
				<td><label>Numero</label></td>
				<td><input type="number" th:field="*{numero}"/></td>
			</tr>
			<tr>
				<td><label>Tarea</label></td>
				<td><input type="text" th:field="*{tarea}"/></td>
			</tr>
			<tr>
				<td><label>Objetivo</label></td>
				<td><input type="text" th:field="*{objetivo}"/></td>
			</tr>
			<tr>
				<td><label>Estado</label></td>
				<td><input type="number" th:field="*{estado}"/></td>
			</tr>
			<tr>
				<td><label>Fecha Alta</label></td>
				<td><input type="text" th:field="*{fechaAlta}"/></td>
			</tr>
			<tr>
				<td><label>Fecha Ultimo Cambio</label></td>
				<td><input type="text" th:field="*{fechaUltimoCambio}"/></td>
			</tr>
			<tr>
				<td><label>Itinerario</label></td>
				<td><input type="text" th:field="*{itinerario}"/></td>
			</tr>
			<tr>
				<td><label>Estancia ID</label></td>
				<td><input type="number" th:field="*{idEstancia}"/></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Actualizar oferta de proyecto"/></td>
			</tr>
		</table>
	</form>
</body>
</html>