<!DOCTYPE html>
<html layout:decorate="~{fragments/base}" xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Empresas</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"      
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
   <link rel="stylesheet" type="text/css" href="/css/sape.css"
                                    th:href="@{/css/sape.css}"/>
</head>
<body>
<div layout:fragment="content">
	<h1>Listado de empresas</h1>
	<div style="text-align:center" th:if="${#lists.isEmpty(empresas)}">
   		<h2>No hay empresas en la base de datos</h2>
    </div>
	<table th:unless="${#lists.isEmpty(empresas)}" class="table table-striped">
		<thread>
			<tr>
				<th>CIF</th>
				<th>Nombre</th>
				<th>Domicilio</th>
				<th>Teléfono</th>
			</tr>
		</thread>
		<tbody>
			<tr th:each="empresa: ${empresas}">
				<td th:text="${empresa.cif}"></td>
				<td th:text="${empresa.nombre}"></td>
				<td th:text="${empresa.domicilio}"></td>
				<td th:text="${empresa.poblacion}"></td>
				<td th:text="${empresa.telefonoPrincipal}"></td>
				<td><a th:href="@{/ofertaproyecto/list/{cif}(cif=${empresa.cif})}" class="btn btn-primary">Ver ofertas</a></td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>