<!DOCTYPE html>
<html layout:decorate="~{fragments/base}" xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Empresas</title>
   
</head>
<body>
<div layout:fragment="content">
	<br>
	<h1>Listado de empresas</h1>
	<div style="text-align:center" th:if="${#lists.isEmpty(empresas)}">
   		<h2>No hay empresas en la base de datos</h2>
    </div>
    <hr>
    <div class="row">
    <div class="col-sm-7">
     <div class="card">
	    <div class="card-header">
	      <a class="card-link" data-toggle="collapse" href="#collapseOne">
	        Haz click para una pequeña descripción de uso
	      </a>
	    </div>
	    <div id="collapseOne" class="collapse" data-parent="#accordion">
	      <div class="card-body">
	        <ul>
	        	<li>Usa la caja de texto para filtrar sobre los resultados</li>
	        	<li>Pulsa sobre la cabecera Nombre/Población para ordenar alfabeticamente</li>
	        	<li>Pulsa el botón <i>Ver Ofertas</i> para ver las ofertas de la empresa</li>
	        </ul>
	      </div>
	    </div>
  	</div>
   </div>
    <div class="col-sm-5">
    	<input class="form-control" id="myInput" type="text" placeholder="Introduce tu búsqueda">
   </div>
   </div>
  
  	<hr>
    <div class="table-responsive">
	<table th:unless="${#lists.isEmpty(empresas)}" class="table table-striped table-bordered sortable">
		<thead class="thead-dark">
			<tr>
				<th data-defaultsort="disabled">CIF</th>
				<th>Nombre</th>
				<th data-defaultsort="disabled">Domicilio</th>
				<th>Población</th>
				<th data-defaultsort="disabled">Teléfono</th>
			</tr>
		</thead>
		<tbody id="myTable">
			<tr th:each="empresa: ${empresas}">
				<td th:text="${empresa.cif}"></td>
				<td th:text="${empresa.nombre}"></td>
				<td th:text="${empresa.domicilio}"></td>
				<td th:text="${empresa.poblacion}"></td>
				<td th:text="${empresa.telefonoPrincipal}"></td>
				<td><a th:href="@{/ofertaproyecto/list/{cif}(cif=${empresa.cif})}" class="btn btn-primary">Ver ofertas</a></td>
			</tr>
		</tbody>
	</table>
	</div>
</div>

</body>
</html>