<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Actualizar datos de empresa</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
</head>
<body>
	<h2>Nueva empresa</h2>
	<form action="#" th:action="@{/empresa/update/{cif}}" th:object="${empresa}" method="post">
		<table>
			<tr>
				<td><label>CIF</label></td>
				<td><input type="text" th:field="*{cif}"/></td>
			</tr>
			<tr>
				<td><label>Nombre</label></td>
				<td><input type="text" th:field="*{nombre}"/></td>
			</tr>
			<tr>
				<td><label>Domicilio</label></td>
				<td><input type="text" th:field="*{domicilio}"/></td>
			</tr>
			<tr>
				<td><label>Teléfono</label></td>
				<td><input type="text" th:field="*{telefonoPrincipal}"/></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Actualizar empresa"/></td>
			</tr>
		</table>
	</form>
</body>
</html>