<!DOCTYPE html>
<html layout:decorate="~{fragments/base}" xmlns:th="http://www.thymeleaf.org"> 
<head>
	<title>Estudiantes</title>

</head>
<body>
<div layout:fragment="pagination">
	<ul class="breadcrumb">
	  <li class="breadcrumb-item"><a href="/custom_index">Página principal</a></li>
	  <li class="breadcrumb-item active">Estudiantes</li>
	</ul>
</div>
<div layout:fragment="content">
	<br>
	<h1>Listado de estudiantes</h1>
	<div class="centrado" th:if="${#lists.isEmpty(estudiantes)}">
   		<h2>No hay estudiantes en la base de datos</h2>
    </div>
    <hr>
    <div th:unless="${#lists.isEmpty(estudiantes)}" class="row">
    <div class="col-sm-7">
     <div class="card">
	    <div class="card-header">
	      <a class="card-link" data-toggle="collapse" href="#collapseOne">
	        Haz click para una pequeña descripción de uso
	      </a>
	    </div>
	    <div id="collapseOne" class="collapse" data-parent="#accordion">
	      <div class="card-body">
	        <ul>
	        	<li>Usa la caja de texto para filtrar sobre los resultados</li>
	        	<li>Por defecto, los estudiantes se ordenan por nota media</li>
	        	<li>Pulsa sobre la cabecera DNI/Itinerario/Semestre para ordenar alfabeticamente</li>
	        	<li>Pulsa el botón <i>Preferencias</i> para ver las preferencias de un estudiante</li>
	        	<li>Pulsa el botón <i>Asignaciones</i> para ver las asignaciones del estudiante</li>
	        </ul>
	      </div>
	    </div>
  	</div>
   </div>
    <div class="col-sm-5">
    	<input class="form-control" id="myInput" type="text" placeholder="Introduce tu búsqueda">
   </div>
   </div>
  
  	<hr>
    <div class="table-responsive">
	<table th:unless="${#lists.isEmpty(estudiantes)}" class="table table-striped table-bordered sortable">
		<thead class="thead-dark">
			<tr>
				<th>DNI</th>
				<th data-defaultsort="disabled">Nombre</th>
				<th data-defaultsort="desc">Nota media</th>
				<th>Itinerario</th>
				<th>Semestre estancia</th>
			</tr>
		</thead>
		<tbody id="myTable">
			<tr th:each="estudiante: ${estudiantes}">
				<td th:text="${estudiante.dni}"></td>
				<td th:text="${estudiante.nombre}"></td>
				<td th:text="${estudiante.notaMedia}"></td>
				<td th:text="${estudiante.itinerario}"></td>
				<td th:text="${estudiante.semestreInicioEstancia}"></td>
				<td><a th:href="@{/preferenciaalumno/list/{dni}(dni=${estudiante.dni})}" class="btn btn-dark">Preferencias</a></td>
				<td><a th:href="@{/asignacion/list/{dni}(dni=${estudiante.dni})}" class="btn btn-dark">Asignaciones</a></td>
			</tr>
		</tbody>
	</table>
	</div>
</div>
</body>
</html>