<!DOCTYPE html>
<html layout:decorate="~{fragments/base}" xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Asignaciones</title>
</head>
<body>
<div layout:fragment="pagination">
	<ul class="breadcrumb">
	  <li class="breadcrumb-item"><a th:href="@{/custom_index}">Página principal</a></li>
	  <li class="breadcrumb-item active">Asignaciones</li>
	</ul>
</div>
<div layout:fragment="content" th:object="${session}">
	<br>
	<h1>Asignaciones</h1>
	<hr>
	<p align="justify">
		Como BTC puedes crear asignaciones seleccionando la opción <i>Crear asignación</i> y consultarlas con la opción <i>Gestionar asignaciones</i>.
		Al consultar las asignaciónes podrás modificarlas o anularlas.
	</p>
	<div class="list-group shadow p-4 mb-4 bg-white centrado">
  		<a href="/estudiante/list" th:href="@{/estudiante/list}" class="list-group-item list-group-item-action list-group-item-dark" data-toggle="tooltip" title="Seleccionarás un alumno para asignarle una oferta y un tutor">
  		Crear asignación<hr> <font size=2><b>Se te redirigirá al listado de estudiantes donde deberás acceder a las preferencias de un estudiante para realizar la asignación.</b></font>
  		</a>
  		<a href="/asignacion/list" th:href="@{/asignacion/list}" class="list-group-item list-group-item-action list-group-item-dark" data-toggle="tooltip" title="Podrás consultar, modificar y anular asignaciones">Gestionar asignaciones</a>
	</div>
	<hr>
</div>
	
</body>
</html>