<!DOCTYPE html>
<html layout:decorate="~{fragments/base}" xmlns:th="http://www.thymeleaf.org"> 
<head>
	<title>Asignaciones</title>

</head>
<body>
<div layout:fragment="pagination">
	<ul class="breadcrumb">
	  <li class="breadcrumb-item"><a th:href="@{/custom_index}">Página principal</a></li>
	  <li th:unless="*{session.user.type == 1}" class="breadcrumb-item"><a th:href="@{/asignacion/index}">Asignaciones</a></li>
	  <li th:if="*{session.user.type == 1}" class="breadcrumb-item active">Asignaciones</li>
	  <li th:if="*{dni == null}"class="breadcrumb-item active">Listado de Asignaciones</li>
	  <li th:if="*{session.user.type == 1}" th:unless="*{dni == null}"class="breadcrumb-item active">Listado de Asignaciones</li>
	  <li th:if="*{session.user.type == 1}" th:unless="*{dni == null}"class="breadcrumb-item active"><span th:text="*{dni}"></span></li>
	  <li th:unless="*{session.user.type == 1 && dni != null}" class="breadcrumb-item active"><span th:text="*{dni}"></span></li>
	</ul>
</div>
<div layout:fragment="content">
	<br>
	<h1 th:if="*{dni == null}">Listado de asignaciones</h1>
	<h1 th:unless="*{dni == null}">Listado de asignaciones del alumno <span th:text="*{dni}"></span></h1>
	<div style="text-align:center" th:if="${#lists.isEmpty(asignaciones)}">
   		<h2>No hay asignaciones en la base de datos</h2>
    </div>
    <hr>
    <div th:unless="${#lists.isEmpty(asignaciones)}" class="row">
    <div class="col-sm-7">
     <div class="card">
	    <div class="card-header">
	      <a class="card-link" data-toggle="collapse" href="#collapseOne">
	        Haz click para una pequeña descripción de uso
	      </a>
	    </div>
	    <div id="collapseOne" class="collapse" data-parent="#accordion">
	      <div class="card-body">
	        <ul>
	        	<li>Usa la caja de texto para filtrar sobre los resultados</li>
	        	<li>Haz click sobre una cabecera para ordenar alfabeticamente dicha columna, si está disponible</li>
	        	<li>Pulsa el botón <i>Detalles</i> para ver más información de la asignación</li>
	        </ul>
	      </div>
	    </div>
  	</div>
   </div>
    <div class="col-sm-5">
     <input class="form-control" id="myInput" type="text" placeholder="Introduce tu búsqueda"> 
    	
   </div>
   </div>
  
  	<hr>
    <div class="table-responsive">
	<table th:unless="${#lists.isEmpty(asignaciones)}" class="table table-striped table-bordered sortable">
		<thead class="thead-dark">
			<tr>
				<th>DNI</th>
				<th>ID del tutor</th>
				<th>Numero del proyecto</th>
			</tr>
		</thead>
		<tbody id="myTable">
			<tr th:each="asignacion: ${asignaciones}">
				<td th:text="${asignacion.dni}"></td>
				<td th:text="${asignacion.idTutor}"></td>
				<td th:text="${asignacion.numeroProyecto}"></td>
				<td style="text-align:center"><a th:href="@{/asignacion/update/{id}(id=${asignacion.id})}" class="btn btn-dark">Gestionar</a></td>
			</tr>
		</tbody>
	</table>
	</div>
	
</div>
</body>
</html>