<!doctype html>

<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="UTF-8"/>
	<meta name="viewport"
	    content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet"
	    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	    crossorigin="anonymous"/>

	<link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>
	<!-- app css  -->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link th:href="@{/css/sape.css}" href="/css/sape.css"
	    rel="stylesheet"/>
	    
    
    <!-- Scripts varios -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
 	
	
	<link href="/bootstrap-sortable.css" rel="stylesheet" type="text/css">
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script> 
	<script src="/bootstrap-sortable.js"></script> 
	
	<script>
	$(document).ready(function(){
	  $("#myInput").on("keyup", function() {
	    var value = $(this).val().toLowerCase();
	    $("#myTable tr").filter(function() {
	      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
	    });
	  });
	});
	</script>
	
	

	

<title layout:title-pattern="$CONTENT_TITLE">SAPE</title>
</head>

<body class="container" style="margin:0 auto;margin-top:80px">
    <div th:replace="fragments/nav"></div>
    <div layout:fragment="content"></div>
    
   <div class="jumbotron text-center" style="margin-bottom:0">
  	<p>
  		EI1027 - Disseny i Implementació de Sistemes d'Informació<br> 
  		Grado en Ingeniería Informática | Grado en Matemática Computacional<br>
  		<a href="/" th:href="@{/}">Quienes somos</a> | <a href="/" th:href="@{/}" target="_blank">Contáctanos</a> | <a href="https://www.uji.es/organs/ouag/sg/docs/politiques/gen/" target="_blank">Politica general de seguridad de la información</a><br> 
  		Universitat Jaume I CIF: Q-6250003-H Av. de Vicent Sos Baynat, s/n 12071 Castellón de la Plana, España<br>
		Tel.: +34 964 72 80 00 Fax: +34 964 72 90 16	
  	</p>
	</div>
</body>
</html>
