@CHARSET "UTF-8";
/* Estil aplicat al cos de la pàgina */
body {
   font-family:'Roboto', sans-serif; 
   background-color: white;
   
}

/* Capçalera de nivell 1 */
h1 {
   font-size: x-large; 
   color: rgb(0,56,101);
   text-align:center
}

/* Capçalera de nivell 2 */
h2 {
   font-size: large; 
   color: rgb(0,56,101);
}

h6 {
	color: rgb(0,56,101);
}

/* Classe CSS error */
.error {
     color: red;
     font-size:80%
}

/* Classe CSS per atributs erronis */
.needcorrection {
     color: red;
     background-color:yellow;
}

.loggeduser {
	color: gray;
	text-align: right;
	margin-right: 10pt;
}

#formulario{
    margin: 0 auto;
    text-align: center;
    width:500px
    
}

#navfont{
	color:white;
}

div.vertical-line{
	width: 1px;
	background-color: black;
	height: 100%;
	float: right;
}
