<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
   <link rel="stylesheet"      
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
   <link rel="stylesheet" type="text/css" href="/css/sape.css"
                                    th:href="@{/css/sape.css}"/>
<title>Login</title>
</head>
<body>
<div class="container">
<div class="jumbotron">
	<h1><b>Sistema de soporte a la gestión de la Asignación de Proyectos en Empresas para la realitzación de estancias en prácticas i trabajo final de grado de Ingeniería en Informática</b></h1>
	<br></br>
	<div class="card" style="width:500px;margin:0 auto">
	<div class="card-body">
	    <h2 class="card-title"  style="text-align:center">Acceso</h2>
	    <form class="card-body" id="formulario" action="#" th:action="@{/login}" 
	          th:object="${user}" method="post">
	          <div class="form-group row">
	          	<label class="col-sm-5 col-form-label">Nombre de usuario:</label>
	          	<div class="col-sm-5">
	          		<input class="form-control" type="text" th:field="*{username}"/>
	          		<div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
	          	</div>
	          </div>
	          
	          <div class="form-group row">
	          	<label class="col-sm-5 col-form-label">Contraseña:</label>
	          	<div class="col-sm-5">
	          		<input class="form-control" type="password" th:field="*{password}"/>
	          		<div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
	          	</div>
	          </div>    
	        <input type="submit" value="Acceder" class="btn btn-primary"/>
	    </form>
	</div>
    </div>
</div>
</div>
</body>
</html>
